/**
 * @file ms-plantilla.css
 * @description Estilos aplicables a la visualización de elementos relacionados con el MS Plantilla
 * @author Víctor M. Rivas Santos <vrivas@ujaen.es>
 * @date 03-Feb-2023
 */

<<<<<<< HEAD



=======
>>>>>>> e60caf1585687bb2dfc40396eabf8786d4afdfb0
 table.listado-personas {
    width: 100%;
    border: 1px solid rgba(0, 0, 100, 0.8);
}

table.listado-personas thead th {
    margin: 3px;
    height: 2.5em;
    background-color: rgba(0, 0, 0, 0.4);
    text-transform: uppercase;

}

table.listado-personas tbody td {
    padding: 0.5em;
    text-align: center;
}

table.listado-personas tbody tr {
    margin: 3px;
    height: 2em;
    background-color: rgba(0, 0, 100, 0.1)
}


.form-persona-elemento:disabled {
    color: black;
    background-color: inherit;
    border-width: 0px;
    text-align: center;
}

.form-persona-elemento:enabled {
    color:rgba(0, 0, 100, 0.8);
}

.form-persona-elemento:enabled:required {
    color:rgba(100, 0, 0, 0.8);
}

table.listado-personas thead,
table.listado-personas tbody,
table.listado-personas tr,
table.listado-personas td {
    text-align: center;
    margin: 0 auto 0 auto;
}

table.listado-personas {
    width: 100%;
<<<<<<< HEAD

=======
}

table.Estilo_Nombres{
    width: 100%;
    border: 1px solid rgba(106,90,205,0.8);
    text-align: center;
    font-size: 16px;
    background-color: #CCCCFF
}

table.Estilo_Nombres thead th{
   text-align:center;
   font-size: 25px;
   background-color: #9999FF
}

table.Estilo_Completo{
   width: 100%;
   border: 1px solid rgba(106,90,205,0.8);
   text-align: center;
   font-size: 16px;
   background-color: #CCCCFF;
}

table.Estilo_Completo thead th{
   text-align:center;
   font-size: 20px;
   background-color: #9999FF;
   height: 2em;
}
>>>>>>> e60caf1585687bb2dfc40396eabf8786d4afdfb0
